body {
  font-family: Arial;
  text-align: center;
  background: #e3f2fd;
  margin: 0;
  padding: 20px;
}

.container {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 0 10px #0002;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  background: #1e88e5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}

.menu a {
  display: block;
  background: white;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #1e88e5;
  font-size: 18px;
  box-shadow: 0 0 10px #0001;
  cursor: pointer;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background: #ddd;
  margin: auto;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background: #1e88e5;
  border-radius: 10px;
}

.back {
  display: block;
  margin-top: 20px;
  color: #1565c0;
  text-decoration: none;
  cursor: pointer;
}

.certificate-box {
  background: white;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px #0002;
}
